*{
    margin: 0;
    padding: 0;
}
/*El estilo del contenedor es este*/
.contenedor{
    display: flex;

    width:100%; /*ESTA PROPIEDAD EXISTE INDEPENDIENTE DE SI "DISPLAY" ES FLEX O NO, LE ESTOY DICIENDO QUE TOME EL 100% DEL ANCHO*/
    height:100vh; /*MISMA HISTORIA LE ESTOY DICIENDO QUE TOME EL 100% DEL ALTO, PERO SE LO DIGO CON 100VH, PORQUE PARA EL HEIGTH CON % NO FUNCIONA BIEN*/

    gap: 1rem;

}
/*
Lo que estoy logrando con ese estilo para la clase "contenedor" es tener un contenedor cuadrado que ocupa toda la pantalla
esto es para poder decirle que me centre tanto vertical como horizontalmente todo el contenido que este DENTRO SUYO.
*/


.form__login{
    display: flex; /*DISPLAY FLEX PARA PODER ACCEDER A LAS PROPIEDADES FLEXBOX*/
    flex-direction: column; /*PROPIEDAD FLEXBOX: SIRVE PARA INDICARLE QUE MUESTRE LOS ITEMS EN UNA LISTA VERTICAL, POR DEFAULT EL DISPLAY: FLEX TE MUESTRA LOS ELEMENTOS COMO UNA LISTA HORIZONTAL*/
    align-items: center;
    justify-content: center;

    width: 100%; /*TO SOLO QUIERO QUE EL FORMULARIO ME OCUPE EL 50% DEL ANCHO, MAS ANCHO SE ME HACE EXAGERADO*/

}

.imagen{
    width: 20%;
}